@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,100;1,400&family=Limelight&display=swap');
// font-family: 'Lato', sans-serif;
// font-family: 'Limelight', cursive;

@mixin reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: inherit;
    font-family: 'Lato', sans-serif;
}

@mixin heading {
    font-family: 'Limelight', cursive;
    font-size: 2rem;
    text-transform: uppercase;
    color: $primaryPink;
}

@mixin header--huge {
    @include heading;
    text-align: center;
    font-size: 4rem;
}


@mixin message {
    font-style: italic;
    font-size: 1.1rem;
}

@mixin button {
    appearance: none;
    border: none;
    padding: 6px;
    border-radius: 6px;
}

@mixin flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}