/* Colors */
$primaryPink: rgb(243, 210, 210);

$fontGrey: rgb(37, 37, 37);

$accentGreen: rgb(216, 255, 216);

/* White space */
$whiteSpace--normal: .5rem;
$whiteSpace--big: 1.5rem;


/* Shadows */
$textShadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
$btnShadow: 0px 4px 8px rgba(0, 0, 0, 0.6);