@import './mixins';
@import './variables';

/* HTML tag name*/

* {
    @include reset;
}

body {
    min-height: 100vh; 
    background-color: $backgroundDark;
}

#root {
    max-width: 1200px;
    margin: auto;
}

main {
    background-image: url(/joshua-hanks-SiZ00cmFnsg-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
    padding: $whiteSpace--big 0;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: $primaryPink;
    color: $fontGrey;
    padding: $whiteSpace--normal;
    position: absolute;
    left: 0;
    width: 100%;
}

h1 {
    @include header--huge;
}

h2 {
    @include heading;
    border-bottom: 3px dotted $primaryPink;
    width: 80vw;
    padding: $whiteSpace--normal 0;
    text-align: center;
    margin: auto;
    margin-top: $whiteSpace--big;
}

h3 {
    @include heading;
    font-size: 1.4rem;
    margin: $whiteSpace--normal 0;
}

h4 {
    text-transform: uppercase;
    color: $accentGreen;
    text-align: center;
    margin: $whiteSpace--normal 0 $whiteSpace--big;
    text-shadow: $textShadow;
    letter-spacing: 1px
}

p {
    @include contentText;
}

button {
    @include button;
}

label {
    color: $primaryPink;
    text-shadow: $textShadow;
}

input {
    appearance: none;
    border: none;
    padding: $whiteSpace--normal;
    margin: $whiteSpace--normal;
    background-color: $backgroundLight;
    border-radius: 4px;
    caret-color: $primaryPink;
    color: $fontGrey;

    &:focus {
        outline: none;
    }
    
}

/* Class name */

.primary-btn-container {
    @include flex-col-center;
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
}

.message {
    @include message;
    font-size: 1rem;
    width: 200px;
    margin: auto;
    text-shadow: $textShadow;
    margin-top: $whiteSpace--normal;
}

/* Media queries */

@media screen and (min-width: 768px) {

    nav {
        justify-content: flex-end;
        gap: 2rem;
        padding-right: 10vw;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        width: 50vw;
    }
    
    .primary-btn-container {
        position: relative;
        bottom: 0rem;
        margin-top: $whiteSpace--big;
    }

    .all-movies {
        .container {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;
            article {
                padding: $whiteSpace--big;
            }
        }
    }
}