@import './mixins';
@import './variables';


* {
    @include reset;
}

body {
    min-height: 100vh; 
}

#root {
    max-width: 1200px;
    margin: auto;
}

main {
    background-image: url(/joshua-hanks-SiZ00cmFnsg-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
    padding: $whiteSpace--big 0;
}

nav {
    background-color: $primaryPink;
    padding: $whiteSpace--normal;
    position: absolute;
    left: 0;
    width: 100%;
}

h1 {
    @include header--huge;
}

h2 {
    @include heading;
    border-bottom: 3px dotted $primaryPink;
    width: 80vw;
    padding: $whiteSpace--normal 0;
    text-align: center;
    margin: auto;
    margin-top: $whiteSpace--big;
}

h3 {
    @include heading;
    font-size: 1.4rem;
    margin: $whiteSpace--normal 0;
}

h4 {
    text-transform: uppercase;
    color: $accentGreen;
    text-align: center;
    margin: $whiteSpace--normal 0 $whiteSpace--big;
    text-shadow: $textShadow;
    letter-spacing: 1px
}

p {
    @include contentText;
}

button {
    @include button;
}

label {
    color: $primaryPink;
    text-shadow: $textShadow;
}

input {
    appearance: 0;
    border: none;
    padding: $whiteSpace--normal;
    margin: $whiteSpace--normal;
    background-color: $backgroundLight;
    border-radius: 4px;
    caret-color: $primaryPink;
}

input:focus {
    outline: none;
}
