@import '../styles/base';

@import '../components/Button';
@import '../components/EditMovie';
@import '../components/Hero';
@import '../components/Input';
@import '../components/MovieCard';

@import '../views/views';