@import '../styles/base';
@import '../styles/mixins';
@import '../styles/variables';

@import '../components/Button';
@import '../components/EditMovie';
@import '../components/Hero';
@import '../components/Input';
@import '../components/MovieCard';

@import '../views/views';