@import '../styles/_base';

.all-movies {
    .container {
        margin-top: $whiteSpace--big;
        @include flex-col-center;
        gap: 2rem;
    }
}

.movie {

    .info {
        @include flex-col-center;
        gap: 1rem;
        padding-top: $whiteSpace--big;
        font-weight: 700;
        text-shadow: $textShadow;

        .btn-section {
            @include btn-section;
        }

        span {
            color: $fontWhite;
            font-weight: 400;
        }

    }
    
    .loading {
        @include message;
        margin-top: calc($whiteSpace--big * 3);
    }
}

.add-movie {
    form, button {
        margin: $whiteSpace--big 0;
    }
}