@import '../styles/mixins';
@import '../styles/variables';

.comment {
    background-color: $backgroundDark;
    padding: $whiteSpace--big;
    margin-top: $whiteSpace--big;

    p {
        text-shadow: $textShadow;
        color: $fontWhite;
        font-weight: normal;
        text-shadow: none;

        time {
            color: $accentGreen;
        }
    }
}