@import '../styles/mixins';
@import '../styles/variables';

.edit-movie {
    margin-top: $whiteSpace--big;

    .btn-section {
        @include btn-section;
    }

    button {
        margin-top: $whiteSpace--big;
    }
}