@import '../styles/mixins';
@import '../styles/variables';

.hero {
    @include flex-col-center;
    min-height: 90vh;

    h1 {
        text-shadow: $textShadow;
        margin-bottom: $whiteSpace--big;
    }

    p {
        @include message;
        text-align: center;
        color: $accentGreen;
        text-shadow: $textShadow;
        background-color: $backgroundDark;
        padding: $whiteSpace--normal;
        margin-bottom: calc($whiteSpace--big * 2);
    }
}