@import '../styles/_variables';
@import '../styles/_mixins';

.input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 250px;
    margin: auto;

    label {
        text-transform: capitalize;
        color: $accentGreen;
    }
}