@import '../styles/mixins';
@import '../styles/variables';

.movie-card {
    max-width: 300px;
    background-color: $backgroundLight;
    box-shadow: $boxShadow;
    text-align: center;
    padding: $whiteSpace--normal;
    text-shadow: $textShadow;

    img {
        width: 100%;
    }

    .content {
        
        section {
            padding-bottom: $whiteSpace--normal;
        }

        em {
            font-style: normal;
            margin-right: $whiteSpace--normal;
        }

        a {
            color: $primaryPink;
        }
    }
}