@import '../styles/index.scss';

.hero {
    // background-image: url(/joshua-hanks-SiZ00cmFnsg-unsplash.jpg);
    // background-size: cover;
    // background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    h1 {
        text-shadow: $textShadow;
        margin-bottom: 0;
    }

    p {
        @include message;
        text-align: center;
        color: $accentGreen;
        text-shadow: $textShadow;
        background-color: rgba(0, 0, 0, 0.604);
        padding: $whiteSpace--normal;
        margin-bottom: calc($whiteSpace--big * 2);
    }
}