@import '../styles/index.scss';

.hero {
    @include flex-col-center;
    min-height: 100vh;

    h1 {
        text-shadow: $textShadow;
        margin-bottom: 0;
    }

    p {
        @include message;
        text-align: center;
        color: $accentGreen;
        text-shadow: $textShadow;
        background-color: $backgroundDark;
        padding: $whiteSpace--normal;
        margin-bottom: calc($whiteSpace--big * 2);
    }
}